
nav > ul{
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li:hover{
    background-color: lightgray;
    padding:0 5px;
    border-radius: 5px;
}
nav li a{
    text-decoration: none;
    color:white;
}
nav > ul > li:hover >ul{ /* hovering done in third child */
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: lightsalmon;
    padding: 0;
}
.dropdown li{
    margin: 0;
    padding: 0 ;
}